# Thunderstore Mod Manager - Default Profile Template

[profile]
name = "New Profile"
game = ""
gamePath = ""

[settings]
autoEnableMods = true
createBackup = true
verifyHashes = true

[mods]
# Mods are added automatically when installed
# Format: package_name = version
